<div class="module_countdown" c-bind-class="State.modules.countdown.class">
    <span class="clock">限时抢购</span>
    <span class="timeWrap">
        <span id="timer">
           <span  id="h">10</span>
            <span class="">:</span>
            <span id="m">00</span>
            <span class="">:</span>
            <span id="s">00</span>
        </span>
        <span class="countdown_label">倒计时</span>
    </span>
    <span class="hot_sell">超值热卖</span>
    <div class="inDrag_module_label">倒计时模块</div>
</div>