<!--sidebar start-->
<aside style="display:none;">
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            
            <p class="centered"><img src="http://shopadmin.stosz.com/images/ui-sam.jpg?imageMogr2/auto-orient/thumbnail/60x60!/format/jpg/blur/1x0/quality/75|imageslim" class="img-circle" width="60"></p>
            <h5 class="centered">Hi , {{ admin.username }}</h5>
            <p class="text-center"><a class="logout text-danger" href="index.php?act=logout">[注销]</a></p>
            <li class="mt">
                <a href="index.php">
                    <i class="fa fa-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent">
                    <i class="fa fa-space-shuttle"></i>
                    <span>主页管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="site.php?">主页设置</a></li>
                    <li><a  href="index_focus.php?">主页轮播图</a></li>
                    <li><a  href="article.php?">主页文章</a></li>
                </ul>
            </li>            
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent">
                    <i class="fa fa-desktop"></i>
                    <span>产品管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="product.php?">全部产品</a></li>
                    <li><a  href="comment.php?"> 产品评论 </a></li>
                    <li><a  href="order.php?">订单管理</a></li>
                </ul>
            </li>
            {% if admin.is_admin ==1 %}
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent">
                    <i class='fa fa-users'></i>
                    <span>管理员</span>
                </a>
                <ul class="sub">
                    <li><a  href="user.php?"> 管理员 </a></li>
                    <li><a  href="userGroup.php?">用户组</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent">
                    <i class='fa  fa-money'></i>
                    <span>区域货币</span>
                </a>
                <ul class="sub">
                    <li><a  href="country.php?">国家地区</a></li>
                    <li><a  href="currency.php?"> 货币同步 </a></li>
                </ul>
            </li>

            <li>
                <a href="http://bbs.stosz.com/forum.php?mod=viewthread&tid=85&page=1&extra=#pid138" target="_blank">建站FAQ</a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<!--sidebar end-->