{% extends 'base.twig' %}
{% block style %}
    <link href="http://shopadmin.stosz.com/fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/template/plugins/ue/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="/template/plugins/ue/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/template/plugins/ue/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/template/plugins/ue/lang/zh-cn/zh-cn.js"></script>
    <script src="http://shopadmin.stosz.com/fileinput/js/fileinput.min.js" type="text/javascript"></script>
    <script src="/template/plugins/tagsinput/jquery.tagsinput.js" type="text/javascript"></script>
    <!--简体中文-->
    <script src="http://shopadmin.stosz.com/fileinput/js/locales/zh.js" type="text/javascript"></script>
    <script src="/template/plugins/validForm/validForm.min.js" type="text/javascript"></script>
    <style>
        .photos{position: relative;width: 200px;height: 200px;float: left;}
        .photos i{position: absolute;top:-5px; right:0;cursor: pointer;}
        .photos img{width: 200px;height: 200px; padding: 5px}
        .table{border: 1px solid #ddd}
        #theme_div{width: 100px;text-align: center;margin-bottom: 10px;}
        #theme_img{width: 100%;display: block;}
        .ui-dialog-body {padding: 0px !important; }
        .kv-file-zoom .kv-file-remove{display:none }
        .edui-container{z-index: 1003 !important;}
    </style>
    <style type="text/css">
        .tags {
            display: inline-block;
            padding: 4px 6px;
            color: #777;
            vertical-align: middle;
            background-color: #FFF;
            width: 206px;
        }
        .tags .tag {
            display: inline-block;
            position: relative;
            font-size: 13px;
            font-weight: normal;
            vertical-align: baseline;
            white-space: nowrap;
            background-color: #91b8d0;
            color: #FFF;
            padding: 3px;
            margin-right: 3px;
            -webkit-transition: all .2s;
            transition: all .2s;
        }
        .tags .tag a {
            color: #FFFFFF;
        }
        .tags input[type="text"], .tags input[type="text"]:focus {
            border: 0;
            display: inline;
            outline: 0;
            margin: 0;
            padding: 0;
            line-height: 14px;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 100%;
        }
        .tags .tag .close {
            font-size: 15px;
            line-height: 20px;
            opacity: 1;
            filter: alpha(opacity=100);
            color: #FFF;
            text-shadow: none;
            float: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 18px;
            text-align: center;
        }
        button.close {
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
            -webkit-appearance: none;
        }
    </style>
{% endblock %}
{% block content %}


    <section id="main-content">
        <div style="position: absolute;top: 50px;margin-left: 30px"><a href="sms.php?act=isp_list&page=1">短信提供商列表</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="sms.php?act=isp_state_list&page=1">所有关联列表</a></div>
        <section class="wrapper">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel" style="border-top: 1px solid #dedede">
                        <form id='form' name="form" class="form-horizontal style-form" onsubmit="" method="post"  >
                            <h4 class="mb text-info">
                                {% if  originInfo.id %}
                                    <i class="fa fa-edit"></i>  {{ originInfo.ispname }}
                                    <input type="hidden" name="id" value="{{originInfo.id}}">
                                    {% else %}
                                    <i class="fa fa-plus"></i> 新增ISP--短信供应商
                                {% endif %}
                            </h4>
                            <span class="text-right btn btn-success pull-right saveAll"  style="position: fixed;right: 0;top:100px;z-index:9" ><i class="fa fa-save"></i> 保 存 </span>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 text-center" > 名称 </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="ispname" value="{{  originInfo.ispname }}" required >
                                </div>
                                <div class="col-sm-6">
                                    <span id="error_erp_number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 text-center" > 类名 </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="classname" value="{{  originInfo.classname }}" required >
                                </div>
                                <div class="col-sm-6">
                                    <span id="error_erp_number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 text-center" > 状态 </label>
                                <div class="col-sm-4">
                                    <label><input type="radio"  name="status" value="0" {% if 0 ==  originInfo.status %} checked {% endif %} required >关闭</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio"  name="status" value="1" {% if 1 ==  originInfo.status %} checked {% endif %} required >开启</label>
                                </div>
                                <div class="col-sm-6">
                                    <span id="error_erp_number" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>

    {% include 'theme_select.twig' %}

    <script src="template/plugins/dialog/dist/dialog-plus.js"></script>
    <script type="text/javascript">
    $('.saveAll').click(function(){
        $.post('/sms.php?act=save_isp',$("#form").serialize()).success(function(d){
            d = JSON.parse(d);
            if (d.ret) {
                if(confirm("保存成功，是否跳转到列表页？"))
                {
                    window.location.href ='/#/sms/isp_states';
                }
                else
                {
                    window.location.href ='/sms.php?act=isp_edit';
                }
            } else {
                   alert(d.msg);
            }
        })
    });
    </script>



{% endblock %}